@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box; }

/* HEADER */
.header {
  display: flex;
  width: 100vw;
  padding: 10px;
  background-color: black; }
  .header nav {
    width: 100vw; }
    .header nav .lista li {
      list-style-type: none;
      margin: .5em;
      padding: .5em;
      border: solid 3px #771acf;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      font-family: 'Orbitron', serif;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      transition: .5s; }

.navBar {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px; }

header nav ul li:hover {
  transform: scale(1.2, 1.2); }

.mainimage {
  width: 100px; }

@media (max-width: 768px) and (min-width: 350px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

.background {
  background-image: linear-gradient(to bottom, #5c5c5c, #c291ff);
  height: 60%;
  width: 60%;
  margin: 1em;
  border-style: solid;
  border-color: black;
  border-width: .25em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

main section article:hover {
  background-image: linear-gradient(to top, #5c5c5c, #c291ff); }

#letras {
  color: #0b0b0b;
  font-family: 'Domine', serif;
  text-align: center;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

/* H's  */
h1 {
  border: solid 3px #771acf;
  background-color: black;
  color: blueviolet;
  font-size: xx-large;
  font-family: 'Orbitron', serif;
  text-align: center; }

h2 {
  text-decoration-color: black;
  font-family: 'Orbitron', serif;
  -ms-text-size-adjust: 10%;
  text-align: center; }

h3 {
  text-decoration-color: black;
  -ms-text-size-adjust: 10%; }

h4 {
  border: solid 3px #771acf;
  background-color: black;
  color: blueviolet;
  font-size: large;
  font-family: 'Orbitron', serif;
  text-align: center; }

.reviews {
  background-image: radial-gradient(#c291ff, #5c5c5c);
  color: aliceblue;
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  border-width: 2px;
  text-align: center;
  width: 4em;
  height: 4em;
  position: fixed;
  bottom: 2em;
  right: 2em;
  display: flex;
  align-items: center;
  transform: rotate(30deg);
  transition: .5s; }

.reviews:hover {
  transform: scale(1.2, 1.2); }

.faqBackground {
  background-image: linear-gradient(to bottom, #5c5c5c, #c291ff);
  height: 160px;
  width: 300px;
  margin: 1em;
  border-style: solid;
  border-color: black;
  border-width: .25em; }

.footerCollage {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  margin-top: 20px;
  padding-top: 10px; }

.footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 10px; }

footer section a:hover {
  transform: scale(1.5, 1.5);
  transition: transform .5s; }
