
/* HEADER */
.header{
    display: flex;
    width: 100vw;
    padding: 10px;
    background-color: black;
    
}

nav{
    width: 100vw;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    column-gap: 5px;
    
}

header nav ul li:hover{
    transform: scale(1.2, 1.2);
}

.lista li{
    list-style-type: none;
    margin: .5em;
    padding: .5em;
    border: solid 3px rgb(119, 26, 207);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: 'Domine', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: .5s;
}

.mainimage{

    width: 100px;
}

/* H's  */

h1 {
    border: solid 3px rgb(119, 26, 207);
    background-color: black;
    color:blueviolet;
    font-size:xx-large;
    font-family: 'Domine', serif;
    text-align: center;
}

h2{
    text-decoration-color: black;
    font-family: 'Domine', serif;
    -ms-text-size-adjust: 10%;
    text-align: center;
}

h3{
    text-decoration-color: black;
    -ms-text-size-adjust: 10%;
}

h4 {
    border: solid 3px rgb(119, 26, 207);
    background-color: black;
    color:blueviolet;
    font-size:large;
    font-family: 'Domine', serif;
    text-align: center;
}

/*bloques*/

.background {
    background-image: linear-gradient(to bottom, rgb(92, 92, 92), rgb(194, 145, 255));    
    height: 500px;
    width: 600px;
    margin: 1em;
    border-style: solid;
    border-color: black;
    border-width: .25em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}

#letras{
    color: rgb(11, 11, 11);
    font-family: 'Domine', serif;
    text-align: center;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.flex-container{
    display: flex;
    direction: column;
    flex-wrap: wrap;
    /* width: 50em; */
    justify-content: center;
     
}



/*Carousel*/

.carousel-caption{
 background-color: rgba(0, 0, 0, 0.251);
}
.carousel-item{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}



/* Servicios */

/* .serviciosContainer{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* 
#letrasServicios{
    color: rgb(64, 20, 106);
    background-image: linear-gradient(to bottom, rgb(92, 92, 92), rgb(194, 145, 255)); 
    padding: 1em;
    margin: 2em;
    text-align: left;
    height: 100px;
    width: 600px;
    border-style: solid;
    border-color: black;
    border-width: .25em;
} */

/* #listaServicios{
    font-size: x-large;
    color: blueviolet;
    font-weight: bold;
    text-align: center;   
} */




a {
    text-decoration: none;
}


/* .formulario{
    width: 5em;
    background-color: blueviolet;
    display: block;
} */

/* reviews */
.reviews{
    background-image: radial-gradient(rgb(194, 145, 255),rgb(92, 92, 92)); 
    color: aliceblue;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: 2px;
    text-align: center;
    width: 4em;
    height: 4em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: flex;
    align-items: center;
    transform: rotate(30deg);
    transition: .5s;
   
}
.reviews:hover{
    transform: scale(1.2, 1.2);

}

/* footer */
.footerCollage{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin-top: 20px;
    padding-top: 10px;
}

.footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 10px;


}
footer section a:hover{
    transform: scale(1.5,1.5);
    transition: transform .5s;

}

/* ask us */

.faqBackground{
    background-image: linear-gradient(to bottom, rgb(92, 92, 92), rgb(194, 145, 255));
    height: 160px;
    width: 300px;
    margin: 1em;
    border-style: solid;
    border-color: black;
    border-width: .25em;

}



/* COLLAGE */
    /* grid */
    
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        height: 850px;
        width: 1220px;
        margin-top :20px;
        margin-bottom: 20px;
        justify-content: space-around;
        align-content: space-around;
              
        }

    /* portada */
        .div1 { grid-area: 1 / 1 / 4 / 2; 
                border-color: rgb(158, 14, 220);
                border-style: solid;
                border-width: 5px;
                height: 635px;
                width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: black;
        }
        .portada{
            margin: 10%;
            border-style: solid;
            border-color: black;
            border-width: 5em;

        }

        
        .introCollage{
            background-image: linear-gradient(to bottom, rgb(92, 92, 92), rgb(194, 145, 255));
            text-align: center;
            margin-top: 20%;
        }

    /* book now */
        .div2 { grid-area: 4 / 1 / 5 / 2;
                border-color: rgb(158, 14, 220);
                border-style: solid;
                border-width: 5px;
                height: 200px; 
                width: 400px;
                display: flex;
                align-items: center;
                background-color: black;
        }
                .btn {
                    background: #8f8896;
                    background-image: -webkit-linear-gradient(top, #8f8896, #0a090a);
                    background-image: -moz-linear-gradient(top, #8f8896, #0a090a);
                    background-image: -ms-linear-gradient(top, #8f8896, #0a090a);
                    background-image: -o-linear-gradient(top, #8f8896, #0a090a);
                    background-image: linear-gradient(to bottom, #8f8896, #0a090a);
                    -webkit-border-radius: 28;
                    -moz-border-radius: 28;
                    border-radius: 28px;
                    font-family: Arial;
                    color: #8f428f;
                    font-size: 40px;
                    padding: 10px 20px 10px 20px;
                    text-decoration: none;
                }
                
                .btn:hover {
                    background: #ededed;
                    text-decoration: none;
                    transform: scale(1.5,1.5);
                    transition: transform .5s;
                }

    /* servicios */
        div article p {
            margin-top: 20px;
           
        }
         
        #servicesBackCollage{
             background-image: linear-gradient(to bottom, rgb(92, 92, 92), rgb(194, 145, 255));
        } 
        
        #serviciosCollage{
            display: flex;
            align-self: flex-start;
        }
    
    /* 360 booth */
        .div3 { grid-area: 1 / 2 / 2 / 3;
                border-color: rgb(158, 14, 220);
                border-style: solid;
                border-width: 5px;
                height: 205px; 
                width: 405px; 
                display: flex;
                align-items: center;
                justify-content: center;

        }       

    /* mirror booth */
        .div4 { grid-area: 2 / 2 / 3 / 3; 
                border-color: rgb(158, 14, 220);
                border-style: solid;
                border-width: 5px;
                height: 205px; 
                width: 405px; 
                display: flex;
                align-items: center;
                justify-content: center;
                            
        }

    /* infltatable */
        .div5 { grid-area: 3 / 2 / 4 / 3;
                border-color: rgb(158, 14, 220);
                border-style: solid;
                border-width: 5px; 
                height: 205px; 
                width: 405px;
                display: flex;
                align-items: center;
                justify-content: center;
                
        }
       
    /* ask us */
        .div6 { grid-area: 4 / 2 / 5 / 4;
                border-color: rgb(158, 14, 220);
                border-style: solid;
                border-width: 5px;
                height: 200px;
                width: 820px;
                margin-bottom: 10px;
                
        }
            .flexcollage {
                display: flex; 
                direction: row;
                /* width: 50em; */
                /* align-content: center; */              
            }

            #letrasCollage{
                color: rgb(7, 7, 7);
                text-align: left;
                margin-right: 20px;
                margin-top: .5px;
            }
            #askcollage{
                background-image: linear-gradient(to bottom, rgb(92, 92, 92), rgb(194, 145, 255));
                height: 140px;
                width: 250px;
                border-style: solid;
                border-color: black;
                border-width: .25em; 
                 
            
            }
    /* formulario */
        .div7 { grid-area: 1 / 3 / 4 / 4;
                border-color: rgb(158, 14, 220);
                border-style: solid;
                border-width: 5px; 
                height: 635px;
                width: 400px; 
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                background-color: black;
        }
        #formCollage{
            height: 550px;
            width: 350px;
            background-image: linear-gradient(to bottom, rgb(92, 92, 92), rgb(194, 145, 255));
            border-style: solid;
            border-color: black;
            border-width: .25em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            
        }

/* Responsive */
    /* mobile */
@media (max-width: 768px) and (min-width: 576px) {

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    
    .header{
        display: flex;
        flex-direction: column;
        
        width: 95vw;
        padding: 10px;
        background-color: black;
        
    }
    
    nav{
        width: 95vw;
        
    }
    
    .navBar {
        display: flex;
        flex-direction: column;
        row-gap: 1px;
        
    }


    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        height: 2500px;
        width: 95vw;
    }
    
            .div1 { grid-area: 1 / 1 / 3 / 2;
                height: 500px;
                width: 95vw;
                display: flex;
                align-items: center;
                }
                .introCollage{
                    margin-top: 1%;
                    
                }
             
            .div2 { grid-area: 3 / 1 / 4 / 2; 
                    height: 250px; 
                    width: 95vw;
                }

            .div3 { grid-area: 4 / 1 / 5 / 2; 
                    height: 250px; 
                    width: 95vw; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }
            .div4 { grid-area: 5 / 1 / 6 / 2;
                    height: 250px; 
                    width: 95vw; 
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                               
                }
            .div5 { grid-area: 6 / 1 / 7 / 2; 
                    height: 250px; 
                    width: 95vw; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            .div6 { grid-area: 7 / 1 / 9 / 2;
                    height: 500px;
                    width: 95vw;       
                }
                .flexcollage {
                    flex-direction: column;
                    align-items: center;
                }
                #askcollage{
                    background-image: linear-gradient(to bottom, rgb(92, 92, 92), rgb(194, 145, 255));
                    height: 125px;
                    width: 300px;
        
                }
            .div7 { grid-area: 9 / 1 / 11 / 2;
                    height: 500px;
                    width: 95vw;; 
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;
                }
                #formCollage{
                    height: 400px;
                    width: 330px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .flex-container{
                display: flex;
                direction: column;
                justify-content: flex-start;
                }
                .background {    
                    height: 400px;
                    width: 95vw;                  
                }
                .footerCollage{
                    width: 95vw; 
                }
}

/* Tablet */
@media (max-width: 992px) and (min-width: 768px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    .header{
        display: flex;
        width: 100vw;
        background-color: black;
        
    }
    
    nav{
        width: 100vw;
    }
    
    .navBar {
        display: flex;
        justify-content: flex-end;
        column-gap: 1px;
        
    }

    .lista li{
        
        margin: .2em;
        padding: .2em;
        font-size: 25px;
    }
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
        height: 2000px;
        width: 800px;
        
        }
        .div1 { grid-area: 1 / 1 / 4 / 2;
            height: 600px;
        
         }

        .div2 { grid-area: 4 / 1 / 6 / 2;
            height: 400px; 
        
        }

        .div3 { grid-area: 1 / 2 / 3 / 3; 
                height: 400px;
        
        }
        
        .div4 { grid-area: 3 / 2 / 5 / 3;
                height: 400px; 
        
        }

        .div5 { grid-area: 5 / 2 / 7 / 3;
                height: 400px;
        }


        .div6 { grid-area: 7 / 2 / 11 / 3;
            width: 400px;
            height: 800px;
                   
        }
        .flexcollage {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
        .div7 { grid-area: 6 / 1 / 11 / 2; 
                height: 1000px;
        }
        .footerCollage{
            width: 95vw; 
        }

}