.background {
    background-image: linear-gradient(to bottom, rgb(92, 92, 92), rgb(194, 145, 255));    
    height: 500px;
    width: 600px;
    margin: 1em;
    border-style: solid;
    border-color: black;
    border-width: .25em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}

#letras{
    color: rgb(11, 11, 11);
    font-family: 'Domine', serif;
    text-align: center;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.flex-container{
    display: flex;
    direction: column;
    flex-wrap: wrap;
    width: 50em;
    justify-content: center;
     
}


