.background {
    background-image: $background-block;    
    height: 70%;
    width: 60%;
    margin: 1em;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: .25em;
    @include flex (column,space-around,center)   
}

main section article:hover{
    background-image: $background-hover;
}

#letras{
    color: rgb(11, 11, 11);
    font-family: 'Domine', serif;
    text-align: center;
    margin: 5%;
    @include flex(column, center, center)

}
.flex-container{
    @include flex(column, center, center);
    flex-wrap: wrap;
}



@media (max-width: 768px) and (min-width: 350px) {
    .background {
        width: 90%;
}
}