/* H's  */

h1 {
    border: solid 3px rgb(119, 26, 207);
    background-color: black;
    color:blueviolet;
    font-size:xx-large;
    font-family: 'Orbitron', serif;
    text-align: center;
}

h2{
    text-decoration-color: black;
    @extend h1;
    -ms-text-size-adjust: 10%;
}

h3{
    text-decoration-color: black;
    -ms-text-size-adjust: 10%;
}

h4 {
    border: solid 3px rgb(119, 26, 207);
    background-color: black;
    color:blueviolet;
    font-size:large;
    @extend h1;
    
}

a {
    text-decoration: none;
}
