.reviews{
    background-image: $background-block;
    color: aliceblue;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: 2px;
    text-align: center;
    width: 5em;
    height: 5em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: flex;
    align-items: center;
    transform: rotate(30deg);
    transition: .5s;
   
}
.reviews:hover{
    transform: scale(1.2, 1.2);

}
